.historic {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.list__container {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}

.texteS2 {
    margin: 6em auto;
    padding: 2em;
    width: 80%;
    border-radius: 25px;
    background-color: #F2F2F2;
    min-height: 250px;
}

@media (max-width: 700px){
    .texteS2 {
        width: 95%;
        padding: 1.5em 0.6em;
        margin: 10px auto;
    }    
}