header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: #038C3E;
    height: 100px;
    margin-bottom: 50px;
    border-bottom: 1px solid #038c3e36;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0px 0.5em 0px 0.5em;
    color: #038C3E;
}

@media (max-width: 700px) {
    h1{
        font-size: 1.25em;
    }
    li {
        margin: 0px 0.25em 0px 0.25em;
    }
};