header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: #EDF4ED;
    height: 125px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0px 0.5em 0px 0.5em;
    color: #EDF4ED;
}